.Progress {
    height: 10px;
    width: 80%;
    position: relative;
    padding-left: 10px;
}

.Progress .inner {
    position: absolute;
    background-color: white;
    height: 5px;
    transition: width 1s;
}